/**
 * Place your custom styles here.
 */
/*
.navbar {
    height: 200px;
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

}

.navbar-collapse {
    background-color: rgba(255,255,255,0.5);
}

.navbar-right {
    margin-right: 10px;
}

.main-container {
    margin-top:180px;
}

*/